= content_for(:title) { @employment.position }

%section
  %header
    %h1
      = @employment.position 
    %h2
      = @employment.company
      
  %section
    %div.row 
      %div.large-8.small-12.columns
        %div.row
          %div.large-8.small-6.columns
            = link_to @employment.url
          %div.large-2.small-4.columns
            = @employment.start_date
          %div.large-2.small-8.columns
            = @employment.end_date
        %div.row
          %div.large-12.columns
            %article
              = render_markdown @employment.description
          %div.large-12.columns
            %header
              %h1 Related Projects
            = render "projects/project_list", all_projects: @projects
      %div.large-4.small-12.columns
        = render "technologies/technology_list", technologies: @technologies, title: "Related Technologies"
        