= content_for(:title) { "Administration" }

%section.admin.index
  %header
    %h1
      Pick an Action
  %section
    %div.row
      %div.large-4.small-6.columns
        = link_to "Add Technology", new_technology_path
      %div.large-4.small-6.columns
        = link_to "Add Project", new_project_path
      %div.large-4.small-12.columns
        = link_to "Add Employment", new_employment_path
    %div.row
      %div.large-4.small-6.columns
        = link_to "Edit Technology", admin_technologies_path
      %div.large-4.small-6.columns
        = link_to "Edit Project", admin_projects_path
      %div.large-4.small-12.columns
        = link_to "Edit Employment", admin_employments_path
    %div.row
      %div.large-4.small-0.columns
      %div.large-4.small-12.columns
        = link_to "Edit About Me", about_edit_path
      %div.large-4.small-0.columns
        
      
