= form_for project do |f|
  %div.row
    %div.large-3.columns
      %label
        %strong Name: 
    %div.large-6.columns
      = f.text_field :name, { placeholder: "Name" }
    %div.large-3.columns
  %div.row
    %div.large-3.columns
      %label
        %strong Description: 
    %div.large-6.columns
      = f.text_area :description, { placeholder: "Description" }
    %div.large-3.columns
  %div.row
    %div.large-3.columns
      %label
        %strong Short Description: 
    %div.large-6.columns
      = f.text_area :short_description, { placeholder: "Short Description" }
    %div.large-3.columns
  %div.row
    %div.large-3.columns
      %label
        %strong Source: 
    %div.large-6.columns
      =f.text_field :source, { placeholder: "Link to source or \"Closed\"" }
    %div.large-3.columns
  %div.row
    %div.large-3.columns
      %label
        %strong Technologies:
    %div.large-6.columns
      = f.collection_select :technologies, @technologies, 'id', 'name', { selected: @project_technology_ids }, { multiple: "multiple" }
    %div.large-3.columns
  %div.row
    %div.large-6.large-centered.small-6.small-centered.columns
      = f.submit