= content_for(:title) { @project.name }

%section
  %header
    %h1
      = @project.name

  %section
    %div.row
      %div.small-12.large-8.columns
        %article.md
          = render_markdown(@project.description)
        %aside
          = @project.source_link
      %div.small-12.large-4.columns
        = render "technologies/technology_list", technologies: @technologies, title: "Technologies Used:"
